{% extends "base.html" %}
{% block title %}
    Delete Item
{% endblock %}
{% block content %}
{% include "home.html" %}
	<h4 class="text-center"> Delete <i>{{item.name}}</i></h4>
	<div class="text-center">
	<h1 class="text-center"> Do you want to delete the item?</h1>
	<form action='{{url_for("deleteItem",category_id=category_id, item_id=item_id)}}' method="POST">
	<input type="submit" value="Delete" class="text-center">
	</form>
	<br>
	<a href="{{url_for('showACategory', category_id=category_id)}}" class="text-center">
	<button class="btn btn-default delete text-center">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	Cancel</button></a>
	</div>
{% endblock %}