{% extends "base.html" %}
{% block title %}
    Edit Item
{% endblock %}
{% block content %}
{% include "home.html" %}
	<h1> Edit a Item</h1>
	<div>
	<form action='{{url_for("editItem",category_id=category_id, item_id=item_id)}}' method="POST">
	<span>Name</span>
	<input type="text" size = '30' name="name" placeholder="{{item.name}}">
	</br></br>
	<span>Description</span>
	<input type="text" size = '60' name="description" placeholder="{{item.description}}">
	<input type="submit" value="Edit" name="submitEdit">
	<input type="submit" value="Cancel" name="cancelEdit">
	</form>
	</div>
{% endblock %}